body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
/*first-section css style*/
.first-section{
    display: flex;
    margin-bottom: 100px;
    margin-left:30px ;
    margin-top: 30px;
}
.half-width{
    width: 50%;
    margin-left:40px;
    
}
.half-width img{
    width: 80%;
}
#color-head{
    color:orange;
}
.heading{
    padding: 15px;
}
.header{
    font-family: 'Volkhov', serif;
    font-size: 40px;
    border-left: 10px solid  tomato;
    border-radius:5px ;
    
}
a{
    text-decoration: none;
    background-color: tomato;
    padding: 5px;
    border-radius: 3px;
    color: white;
}
/*secand-section css style*/
.card{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 30px;

}
.card-1{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius:30px;
    text-align: center;
    padding: 10px;

}
#card-bg-1{
    background-color: rgb(211, 232, 233);

}
#card-bg-1 img{
    width: 100%;
}
#card-bg-2{
    background-color: rgb(230, 189, 203);

}
#card-bg-2 img{
    width: 100%;
}
#card-bg-3{
    background-color: rgb(238, 211, 160);

}
#card-bg-3 img{
    width: 100%;
}
.mission{
    text-align: center;
    font-size: 50px;
    margin-top:20px ;
    margin-bottom: 20px;
}
.mission span{
    color: orange;
}
/*third section css style*/
.third-section{
    display: flex;
    margin-top: 100px;
    margin-left: 0;
   
}
#developer-limits{
    background-size: 500px;
    background-position: left;
    background-image: url(/image/shape-1.png);
    background-repeat: no-repeat;
}
#developer-limits img{
    margin: 80px;
   
}
#four-section-div{
    padding: 40px;
}
#third-section-div h1{
    font-size: 30px;

}
/*four section css style*/
.four-section{
    display: flex;
    margin-top: 100px;
}
#four-section-div h1{
    font-size: 30px;
}
#global-community{
    background-size: 500px;
    background-image: url(/image/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
/*four section css style*/
.from-div{
    text-align: center;
}
.reg-heading{
    text-align: center;
    padding: 20px;
}
.reg-heading h1{

    color: white ;
}
.five-section{
    background-color: rgb(202, 140, 161);
    margin:100px;
    border-radius: 15px;
    m
}
.from-div input,textarea{
    width: 60%;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    resize: none;
    .from-div botton{}
}
.from-div button{
    background-color: rgb(52, 69, 141);
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 15%;
    margin-bottom: 15px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
footer h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}
footer h1 span{
    color: orangered;
}



