body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
.first-section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10px;
}
.half-width img{
    width: 80%;
}
#color-head{
    color:orange;
}
.heading{
    padding: 15px;
}
.header{
    font-family: 'Volkhov', serif;
    font-size: 40px;
    border-left: 10px solid  tomato;
    border-radius:5px ;
    
}
a{
    text-decoration: none;
    background-color: tomato;
    padding: 5px;
    border-radius: 3px;
    color: white;
}

.card{
    display: flex;
    align-items: center;

}
.card-1{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius:30px;
    text-align: center;
    padding: 10px;

}
#card-bg-1{
    background-color: rgb(211, 232, 233);

}
#card-bg-1 img{
    width: 100%;
}
#card-bg-2{
    background-color: rgb(230, 189, 203);

}
#card-bg-2 img{
    width: 100%;
}
#card-bg-3{
    background-color: rgb(238, 211, 160);

}
#card-bg-3 img{
    width: 100%;
}
.mission{
    text-align: center;
    font-size: 50px;
    margin-top:20px ;
    margin-bottom: 20px;
}
.mission span{
    color: orange;
}

